<label class="text" >
  <%=q.question%> 
</label>
<br></br>
<form action="">
     <div class="radio">
         <label class="radio-inline">
             <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> True
         </label>
         <label class="radio-inline">
             <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> False
         </label>
     </div>
 </form>