 
	<div class="row">
		<div class="col-md-3">
		<div class="panel panel-default" style="background:url('') no-repeat center center;">
		                 <div class="panel-body" >
		                     <div class="page-header">
		                         <h3>Up Coming Events</h3>
		                     </div>
							 <!-- list be kol el gay w hy3ref anhy form 3l 7sb no3 el quiz -->
							 <form style="background:url('') no-repeat center center;">
                               <div class="list-group" >
							      
								  <a href="#" class="list-group-item" onClick="window.open('ViewForm1.html');" style="background:url('') no-repeat center center;">
								     <span class="badge">Date</span> Quiz</a>
								  <a href="#" class="list-group-item" onClick="window.open('ViewForm1.html');" style="background:url('') no-repeat center center;">
								     <span class="badge">Date</span>Quiz</a>
								  <a href="#" class="list-group-item" onClick="window.open('ViewForm1.html');" style="background:url('') no-repeat center center;">
								     <span class="badge">Date</span>Quiz</a>
								  <a href="#" class="list-group-item" onClick="window.open('ViewForm1.html');" style="background:url('') no-repeat center center;">
								     <span class="badge">Date</span>Quiz</a>
							   </div>
                               <p><br/></p>
							   
                             </form>
							 <!-- -->
		                 </div>
		             </div>
		</div>
		<div class="col-md-8">
		<div class="panel panel-default" style="background:url('') no-repeat center center;">
		                 <div class="panel-body">
		                     <div class="page-header">
		                         <h3>Courses</h3>
		                     </div>
							 <!-- mfrood  el thumbnail ytkrar 3l 7sb 3dd el course --> 
							 <form >
							    <div class="row">
							    	<% @courses.each do|c| %>
								   <div class="col-sm-6 col-md-4">
								      <div class="thumbnail" style="background:url('') no-repeat center center;"> 
									      <img src="<%= asset_path 'folder.png'%>"alt="...">
										     <div class="caption" align="center">
										        <div class="btn-group">
												     <button type="button" class="btn btn-primary" align="center" onclick="window.open('/course/<%=c.code%>')"><%=c.name%></button>
											
									    
										<!--		     <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												         <span class="caret"></span>
												         <span class="sr-only">Toggle Dropdown</span>
												     </button>
												     <ul class="dropdown-menu">
												         <li><a href="#" onclick="window.open('QuizView.html')">Assignment</a></li>
												         <li><a href="#" onclick="window.open('QuizView.html')">Feedbacks</a></li>
												         <li><a href="#" onclick="window.open('QuizView.html')">Sheets</a></li>
												         <li><a href="#" onclick="window.open('QuizView.html')">Quizzes</a></li>
												      </ul> -->
												  </div>
											 </div>
									   </div>
								   </div>
								 <%end%>								   
								 </div>
							</form>
							 <!-- -->
		                 </div>
		</div>
			
		</div>
		<div class="col-md-4">
			
		</div>
	</div>
</div>