<div class="form-group" > 
     <label class="text-inline" id="NewQuestion">Question </label> 
     <label class="text-inline" >
	     <input type="text" class="form-control" placeholder="Question Mark" id="QMark">
	 </label>
	 <div>
	 <textarea class="form-control" rows="3"></textarea>
	 </div>
</div>
<div class="form-group">
     <label for="NewAnswer">Answer</label>
         <div class="radio">
             <label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> True
			 </label>
			 <label class="radio-inline">
					<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> False
			 </label>
		</div>
</div>
<div class="checkbox">
     <label class="checkbox-inline">
     <input type="checkbox" value="">Bouns</label>
</div>
<div class="checkbox">
	<label class="checkbox-inline">
	     <input type="checkbox" value="">Hint
	 </label>
	<!-- displayed if is checked -->
	<label class="text-inline" >
	     <input type="text" class="form-control" placeholder="Hint Mark" id="QhintMark">
	</label>
	<label class="text-inline" >
	     <input type="text" class="form-control" placeholder="Hint" id="Qhint">
	</label>
 <!-- -->
									 
 </div>


  <br> </br>