		    <div class="panel panel-default">
		                 <div class="panel-body">
		                     <div class="page-header">
		                         <h3>Quiz Info</h3>
		                     </div>
							 
							 <div class="form-group" > 
                                     <label for="NewQuestion">Title</label>
									 <div class="input-group">
                                         <span class="input-group-addon" id="basic-addon1">
										  <span class="glyphicon glyphicon-pencil"></span>
										 
										 </span>
										 <input name= "title" type="text" class="form-control" id="QuizTitle" placeholder="Add Form Title">
                                     </div>
                               </div>
                               <div class="form-group">
                                     <label for="NewAnswer">Date</label>
									 <div class="input-group " id="datetimepicker1">
									
                                         <span class="input-group-addon" id="basic-addon2">
										 <span class="glyphicon glyphicon-calendar"></span>
										 </span>
										 <input name="date" type="text-date" class="form-control" id="QuizDate" placeholder="Add Form Date">
                                     </div> 
									 
							   </div>
							   <div class="form-group">
                                     <label for="NewAnswer">Time to be Published</label>
									 <div class="input-group " id="datetimepicker2">
                                         <span class="input-group-addon" id="basic-addon3">
										 <span class="glyphicon glyphicon-time"></span>

										 </span>
										 <input name="publish_date" type="text" class="form-control" id="QuizTime" placeholder="Add Form Time">
                                     </div> 
							   </div>
							   
							    <div class="form-group">
                                     <label for="NewAnswer">Duration</label>
									 <div class="input-group " id="datetimepicker3">
                                         <span class="input-group-addon" id="basic-addon4">
										 <span class="glyphicon glyphicon-time"></span>

										 </span>
										 <input name="duration" type="text" class="form-control" id="QuizDuration" placeholder="Add Form Time">
                                     </div> 
							   </div>
							   <div class="form-group">
                                     <label for="NewAnswer">Mark</label>
									 <div class="input-group">
                                         <span class="input-group-addon" id="basic-addon5">
										 <span class="glyphicon glyphicon-pencil"></span>

										 </span>
										 <input name= "mark" type="text" class="form-control" id="QuizMark" placeholder="Add Form Time">
									</div>
                                     
							   </div>
		                 </div>
		    </div>
			

 